#noteI, #noteII, #noteIII, #noteIV, #noteV, #noteVI, #noteVII {
  font-size: 20px;
}

table {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

td {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: #ffe699;
  cursor: pointer;
}

.openstring {
  border: 1px;
  border-right: 4px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

th {
  width: 5%;
  border: 1px;
  padding-right: 20px;
  text-align: center;
}

.red {
  color: red;
}

.highlight {
  background-color: yellow;
}
.results {
  display: none;
}
