#noteI, #noteII, #noteIII, #noteIV, #noteV, #noteVI, #noteVII {
  font-size: 20px;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

td {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffe699;
  text-align: center;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

th {
  width: 5%;
  border: 1px;
  padding-right: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
}

.center {
  text-align: center;
}

.col-md-1 {
  margin-left: 40px;
}

.col-md-12 {
  text-align: center;
}

.btn {
  border: solid black 2px;
  margin-top: 10px;
}

.highlight {
  background-color: yellow;
}

.results {
  display: none;
}
