#noteI, #noteII, #noteIII, #noteIV, #noteV, #noteVI, #noteVII {
  font-size: 20px;
  text-align: center;
}

table {
  margin-top: 24px;
  width: 100%;
  text-align: center;
}

td {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffe699;
  text-align: center;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  height: 26px;
}

th {
  width: 5%;
  border: 1px;
  padding-right: 20px;
  text-align: center;
}

body {
  background-color: #b26a2e
}

h1, h2, h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
}

.header {
  padding: 50px;
  margin-bottom: 30px;
  color: white;
  background-image: url(https://i.ytimg.com/vi/ZLHjvAJlC0o/maxresdefault.jpg);
}

.container {
  background-color: white;
}

.center {
  text-align: center;
}

.col-md-1 {
  margin-left: 44px;
  margin-top: 20px;
  background-color: #ffe699;
  border: solid #dbad67 3px;
  border-radius: 5px;
  min-width: 10%;
  height: 270px;
}

.col-md-3, .col-md-6 {
  border: solid #dbad67 3px;
  border-radius: 5px;
  padding: 10px;
  margin-left: 98px;
  background-color: #ffe699;
}


.btn {
  margin-top: 10px;
  margin-left: 90px;
}

.highlight {
  background-color: yellow;
}
